name: Build, test, and publish container image for adService
on: 
  workflow_dispatch:
    
  push:
    branches:
      - '*'
    paths: ['src/adservice/**']
    
env:
  IMG-NAME: adservice

jobs:
  build:
    name: build & push docker image
    runs-on: ubuntu-latest

    steps:
      
      - 
        name: Checkout
        uses: actions/checkout@v4

      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/${{ IMG-NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
          #tags: type=pep440,pattern={{version}},value=1.0.0

      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - 
        name: Docker build and push
        run: |
              echo "tags: " | ${{ steps.meta.tags }}
              echo 
              echo "labels: " | ${{ steps.meta.labels }}
        #uses: docker/build-push-action@v5
        #with:
        #  context: ./src/adservice/
        #  push: true
        #  tags:  ${{ steps.meta.outputs.tags }} #${{ secrets.DOCKERHUB_USERNAME }}/adservice:latest
        #  labels: ${{ steps.meta.outputs.labels }}