name: Build, test, and publish container image for adService
on: 
  workflow_dispatch:
    
  push:
    branches:
      - '*'

jobs:
  build:
    name: build & push docker image
    runs-on: ubuntu-latest
    #env:
    #  IMG-NAME: ${{github.repository}}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src/adservice/Dockerfile
          #file: ./microservices-demo/src/adservice/Dockerfile
          push: true
          tags:  ${{ secrets.DOCKERHUB_USERNAME }}/adservice:latest
    