name: Build and test docker image for adService
on: 
  push:
    branches:
      - '*'

jobs:
  build:
    name: build & push docker image
    runs-on: ubuntu-latest
    env:
      IMG-NAME: ${{github.repository}}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: debug
        run: |
          echo "github.ref -> {{ github.ref }}"
      
      - name: Login to Docker Hub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . #/microservices-demo/src/adservice/Dockerfile
          file: ./microservices-demo/src/adservice/Dockerfile
          push: true
          tags:  ${{ secrets.DOCKERHUB_USERNAME }}/adservice:latest
    