name: Build, test, and publish container image for adService
on: 
  workflow_dispatch:
    
  push:
    branches:
      - '*'
    paths: ['src/adservice/**']

jobs:
  build:
    name: build & push docker image
    runs-on: ubuntu-latest
    #env:
    #  IMG-NAME: ${{github.repository}}
    steps:
      
      - 
        name: Checkout
        uses: actions/checkout@v4

      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/adservice

      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - 
        name: Docker build and push
        uses: docker/build-push-action@v5
        with:
          context: ./src/adservice/
          push: true
          tags:  ${{ steps.meta.outputs.tags }} #${{ secrets.DOCKERHUB_USERNAME }}/adservice:latest
          labels: ${{ steps.meta.outputs.labels }}