name: Build, test, and publish container image for adService
on: 
  workflow_dispatch:
    
  push:
    branches:
      - '*'
    #paths: ['src/adservice/**']
    
env:
  IMG-NAME: ravasimages/adservice
  IMG-REGISTERY: hub.docker.com

jobs:
  build:
    name: build & push docker image
    runs-on: ubuntu-latest

    steps:
      
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - 
        name: Checkout
        uses: actions/checkout@v4

      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          push: false
          load: true
          tags: ${{ github.run_id }}
          target: test
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - 
        name: Run Trivy for all CVEs (non-blocking)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ github.run_id }}
          exit-code: 0
          format: table 
      
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ravasimages/adservice
          flavor: |
            latest=false
          tags: |
            type=raw,value=06

      